.invalid-feedback {
    color: red;
    position: absolute;
    font-size: 12px;
    margin-top: -8px;
    /* border: 2px solid red; */
  }
  
  .btnSave {
    background-color: #7EA1F9;
    position: absolute;
    right: 40px;
    bottom: 10px;
  }
  
  .btnCancel {
    color: #000;
    border: 1px solid #ccc;
    position: absolute;
    right: 150px;
    bottom: 10px;
  }
  
  .btnCancel:hover {
    background-color: red;
    color: #fff;
  }
  
  .btnSave:hover {
    border: 1px solid #7EA1F9;
    color: #000;
    background-color: #fff;
  }
  
  .column input {
    width: 80%;
  }
  
  .input__box {
    display: block;
  }
  
  .title-heading {
    text-align: center;
    width: 100%;
    font-size: 18px;
  }
  
  .education-header {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
  }
  
  .btnWrap {
    display: flex;
    column-gap: 10px;
  }
  
  .btnAdd,
  .btnEdit {
    padding: 3px 25px;
    background: #7EA1F9;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #7EA1F9;
  }
  
  .btnAdd:hover,
  .btnEdit:hover {
    border: 1px solid #7EA1F9;
    background-color: #fff;
    color: #000;
  }
  
  .btnDelete {
    padding: 3px 25px;
    border-radius: 5px;
    color: #fff;
    background-color: red;
    right: 40px;
    position: absolute;
    bottom: 15px;
  }
  
  .btnDelete:hover {
    border: 1px solid red;
    background-color: #fff;
    color: #000;
  }
  
  ul.pagination {
    display: flex;
    color: #111;
    list-style-type: none;
  }
  
  th {
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    text-align: left;
    padding: 0px 10px;
    height: 35px;
    box-sizing: border-box;
  }
  
  td {
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
    padding: 0px 10px;
    text-align: left;
    height: 44px;
    box-sizing: border-box;
  }
  
  ul.pagination a {
    text-decoration: none;
    color: #111;
    width: 200px;
  }
  
  .content-page {
    min-width: 170px;
    margin-left: 6px;
    margin-right: 10px;
    margin-top: 9px;
    position: relative;
  }
  
  .page-link {
    margin: 5px;
  }
  
  .paging-left {
    color: #111;
    margin-left: 5px;
    margin-top: 20px;
  
  
    text-align: center;
  }
  
  .page-item:first-child {
  
  
    color: #727272;
  }
  
  .page-item:last-child {
  
    color: #727272;
  }
  
  .page-item {
    margin: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    cursor: pointer;
    padding: 0;
    justify-content: center;
  }
  
  li.page-item.disabled {
    color: #bbb;
  }
  
  .page-item.active {
    font-weight: 700;
    text-align: center;
    background-color: #eeeaea;
    color: #000;
  }
  
  .page-item.active a {
    width: 20px;
    text-align: center;
  }
  
  .before-text {
    color: rgb(104, 102, 102);
    margin: 8px;
    margin-top: 10px;
  }
  
  .after-text {
    color: #111;
    margin: 8px;
    margin-top: 10px;
  }
  
  .page {
    margin-top: 10px;
    margin-right: 20px;
  }
  
  table {
    width: 90%;
  }
  
  table,
  tr {
    border: none;
    padding: 0px 5px 5px 5px;
    background-color: white;
    margin-top: 0px;
  }
  
  td {
    border: none;
    background-color: white;
    margin-top: 0px;
  }
  
  tbody tr td {
    color: #111;
    border-bottom: 1px solid #c7c7c7;
    border-right: 1px dotted #c7c7c7;
  }
  
  .width-half {
    width: 50%;
  }
  
  .color-red {
    color: red;
  }
  
  .btn-action:hover {
    background: #74bbd4;
  }
  
  .btn-action {
    width: 100px;
    height: 50px;
    background: #3a98b9;
    margin-right: 10px;
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 10px;
  }
  
  .btn-group {
    text-align: center;
  }
  
  .w-full {
    width: 100%;
    height: 35px;
  }
  
  .mask {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-bonus {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(17 17 17 / 16%);
    z-index: 2;
    cursor: pointer;
  }
  
  .bonus-form {
    padding: 0px 20px;
    position: absolute;
    width: 50vw;
    height: 490px;
    /* height: auto; */
    margin: 0 auto;
    top: 15%;
    right: 11.5%;
    z-index: 99999;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background-color: #fff;
  }
  
  .bonus-formm {
    padding: 0px 40px;
    position: absolute;
    width: 40vw;
    height: 510px;
    /* height: auto; */
    margin: 0 auto;
    top: 11.5%;
    right: 28%;
    z-index: 99999;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
    background-color: #fff;
  }
  
  .head-popup {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin-bottom: 0 !important;
    margin-top: 10px;
    width: 96%;
    margin-left: 4px;
  }
  
  svg:hover {
    color: red;
  }
  
  .btn-close-popup:hover {
    color: red !important;
  }
  
  input {
    width: 300px;
  }
  
  table[data-v-07d000ee],
  tr[data-v-07d000ee],
  td[data-v-07d000ee] {
    border: none;
    padding: 0px 0px 5px 5px;
    margin-bottom: 5px;
    margin-top: 0px;
    margin-left: 4px;
  
  }
  
  .sticky-right-top {
    position: sticky;
    z-index: 0;
    right: 0;
    top: 0;
    background-color: #e5e8ec;
  }
  
  .sticky-left-top {
    position: sticky;
    z-index: 0;
    left: 0;
    top: 0;
    background-color: #e5e8ec;
  }
  
  thead tr {
    background-color: #e5e8ec;
  }
  
  /* .dis,
  .bonus{
    padding: 2px 6px;
    font-size: 11px;
    height: 30px;
    box-sizing: border-box;
    min-width: 80px;
    margin-right: 4px;
    border-radius: 2.5px;
    color: #f5f2f2;
    border: none;
    margin-top: 2px;
  }
  .bonus {
    background-color: #0cc71b;
  }
  .dis {
    background-color: #426cf7;
  
  }
  .bonus:hover{
    background-color: #ffff;
    color: #0fdb20;
    border: 1px solid #0fdb20;
  } */
  
  /* .dis:hover{
    background-color: #ffff;
    color: #426cf7;
    border: 1px solid #426cf7;
  } */
  .desc {
    color: red;
    cursor: pointer;
    font-weight: 600;
  }
  
  .desc:hover {
    text-decoration: underline;
  }
  
  tbody tr:hover .checkbox,
  tbody tr:hover .td-item-final {
    background-color: #fff !important;
  }
  
  #form {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 3;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    display: flex;
    /* display: none; */
  }
  
  .form input {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
  }
  
  .form {
    width: 40%;
    height: fit-content;
    background-color: #fff;
    margin: auto auto;
    border-radius: 8px;
  }
  
  .formm {
    width: 100%;
    height: fit-content;
    background-color: #fff;
    margin: auto auto;
    border-radius: 8px;
  }