@import url("./page/header.css");
@import url("./page/menu.css");
@import url("./icon/icon.css");
@import url("./page/student.css");
* {
    font-family: "Roboto", sans-serif;
  }
  html {
    /* overflow-x: hidden; */
  }
  body{
    margin: 0;
  }
  p,
  input,
  body {
    font-size: 13px;
    font-weight: 500;
  }
  
  h3 {
    font-size: 14px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  .bold {
    font-weight: bold;
  }
  
  .text-right {
    text-align: right;
  }
  
  .text-center {
    text-align: center;
    width: 0px;
  }
  
  .text-left {
    text-align: left;
  }
  
 